@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (DatacenterState != null && DatacenterState.Value != null && DatacenterState.Value.Nodes != null)
{
<Table @ref="table"
       TItem="DatacenterNodeResponse"
       DataSource="@DatacenterState.Value.Nodes">
    <Column @bind-Field="@context.Id" Sortable />
    <Column @bind-Field="@context.Name" Sortable />
    <Column @bind-Field="@context.Ip" Sortable />
    <Column @bind-Field="@context.Model" Sortable />
    <Column @bind-Field="@($"{context.Core} / {context.Thread} - {context.Mhz} ({context.Socket})")" Sortable />
    <Column @bind-Field="@($"{context.RamUsed} / {context.RamTotal}")" Sortable />
    <Column @bind-Field="@($"{context.SwapUsed} / {context.SwapTotal}")" Sortable />
    <Column @bind-Field="@($"{context.RootFsUsed} / {context.RootFsTotal}")" Sortable />
    <Column @bind-Field="@context.Flag" Sortable />
    <ActionColumn>
        <Space>
            <SpaceItem><Button>Details</Button></SpaceItem>
        </Space>
    </ActionColumn>
</Table>
}
