@page "/node/{NodeId:int}"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (DatacenterState != null
&& DatacenterState.Value != null
&& DatacenterState.Value.IsLoading)
{
    <div class="mt-4" style="width:100%; text-align:center;">
        <Spin Style="text-align:center; margin:auto" size="large" />
    </div>
}
else
{
    @if (DatacenterState.Value.SelectedNode != null)
    {
        <div class="mb-6">
            <Breadcrumb>
                <BreadcrumbItem>
                    <a RouterLink="/">Datacenter</a>
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <a RouterLink="/node/@DatacenterState.Value.SelectedNode.Id">@DatacenterState.Value.SelectedNode.Name</a>
                </BreadcrumbItem>
            </Breadcrumb>
        </div>
        <Row Class="mt-6" Justify="space-between">
            <GridCol Span="12">
                <Tabs DefaultActiveKey="cpu" Type="@TabType.Card" @bind-ActiveKey="@tabKey">
                    <TabPane Key="cpu" Tab="CPU">
                        <Card>
                            <Row>
                                <GridCol Span="12">
                                    <h4>Model</h4> @DatacenterState.Value.SelectedNode.Model * (@DatacenterState.Value.SelectedNode.Socket)
                                </GridCol>
                                <GridCol Span="6">
                                    <h4>Core/Thread</h4> @DatacenterState.Value.SelectedNode.Core/@DatacenterState.Value.SelectedNode.Thread
                                </GridCol>
                                <GridCol Span="6">
                                    <h4>Speed</h4> @(DatacenterState.Value.SelectedNode.Mhz * 1000)Mhz
                                </GridCol>
                            </Row>
                            <Divider />
                            <h4>Flags</h4> @DatacenterState.Value.SelectedNode.Flag
                        </Card>
                    </TabPane>
                    <TabPane Key="ram" Tab="RAM">
                        <Card>
                            <Row>
                                <GridCol Span="8">
                                    <h4>Ram available</h4> @(DatacenterState.Value.SelectedNode.RamTotal/ (1024 * 1024))Mb
                                </GridCol>
                                <GridCol Span="8">
                                    <h4>Ram used</h4> @(DatacenterState.Value.SelectedNode.RamUsed/ (1024 * 1024))Mb
                                </GridCol>
                                <GridCol Span="8">
                                    <h4>Ram free</h4> @(DatacenterState.Value.SelectedNode.RamFree / (1024 * 1024))Mb
                                </GridCol>
                            </Row>
                            <Divider />
                            <div class="node-usage mt-2">
                                <div class="used" style="width:@GetRamUsedWidth()%">
                                    @((int)GetRamUsedWidth())%
                                </div>
                            </div>
                        </Card>
                    </TabPane>
                    <TabPane Key="disk" Tab="DISK">
                        <Card>
                            <Row>
                                <GridCol Span="8">
                                    <h4>Disk available</h4> @(DatacenterState.Value.SelectedNode.RootFsTotal / (1024 * 1024))Mb
                                </GridCol>
                                <GridCol Span="8">
                                    <h4>Disk used</h4> @(DatacenterState.Value.SelectedNode.RootFsUsed/ (1024 * 1024))Mb
                                </GridCol>
                                <GridCol Span="8">
                                    <h4>Disk free</h4> @(DatacenterState.Value.SelectedNode.RootFsFree / (1024 * 1024))Mb
                                </GridCol>
                            </Row>
                            <Divider />
                            <div class="node-usage mt-2">
                                <div class="used" style="width:@GetDiskUsedWidth()%">
                                    @((int)GetDiskUsedWidth())%
                                </div>
                            </div>
                        </Card>
                    </TabPane>
                    <TabPane Key="proxmox" Tab="PROXMOX">
                    </TabPane>
                </Tabs>
            </GridCol>
            <GridCol Span="10">
                <Card Title="Events">
                    <Timeline>
                        <TimelineItem>Create a services site 2015-09-01</TimelineItem>
                        <TimelineItem Color="red">Solve initial network problems 2015-09-01</TimelineItem>
                        <TimelineItem>Technical testing 2015-09-01</TimelineItem>
                        <TimelineItem>Network problems being solved 2015-09-01</TimelineItem>
                    </Timeline>
                </Card>
            </GridCol>
        </Row>
    }
}
