<Card Title="@Node.Name" Type="primary" Actions="new[] { actionSetting, actionEdit, actionEllipsis }">
    <Body>
        <p>
            <b>IP : </b> @Node.Ip
        </p>
        <hr />

        <p>
            <b>Cpu Model : </b>
            <br />@Node.Model
        </p>
        <hr />

        <p>
            <b>Cpu Count / Thread Count : </b> @Node.Core / @Node.Thread
        </p>
        <hr />

        <p>
            <b>Core Speed : </b> @Node.Mhz Mhz
        </p>
        <hr />

        <p>
            <b>Memory : </b> @(Node.RamTotal / (1024 * 1024)) MB
        </p>
        <hr />

        <p>
            <b>Swap : </b> @(Node.SwapTotal / (1024 * 1024)) MB
        </p>
    </Body>
</Card>

@code{
    private RenderFragment actionSetting =@<Template>
        <Icon Type="setting" />
    </Template>;

    private RenderFragment actionEdit =@<Template>
        <Icon Type="edit" />
    </Template>;

    private RenderFragment actionEllipsis =@<Template>
        <Icon Type="ellipsis" />
    </Template>;
}