@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IStringLocalizer<App> Translator
@inject IState<SshKeyState> SshKeyState
@inject IJSRuntime JSRuntime
@inject ISshKeyService SshKeyService
@inject IDispatcher Dispatcher

<Table @ref="table" TItem="SshKeyResponse" DataSource="@SshKeyState.Value.SshKeys">
    <AntDesign.Column @bind-Field="@context.Id" Sortable />
    <AntDesign.Column @bind-Field="@context.Name" Sortable />
    <AntDesign.Column @bind-Field="@context.Fingerprint" Sortable />
    <ActionColumn>
        <Space>
            @if (context.PemAvailable) {
                <SpaceItem>
                    <Button OnClick="()=> DownloadPem(context.Id)">Download PEM</Button>
                </SpaceItem>
            }
            @if (context.PpkAvailable) {
                <SpaceItem>
                    <Button OnClick="() => DownloadPpk(context.Id)">Download PPK</Button>
                </SpaceItem>
            }
        </Space>
    </ActionColumn>
    <ActionColumn>
        <Space>
            <SpaceItem><Button Danger OnClick="()=> DeleteAsync(context.Id)">@Translator.GetString("GENERIC_DELETE")</Button></SpaceItem>
        </Space>
    </ActionColumn>
</Table>

@code{
    protected ITable table;

    protected void DeleteAsync(int id)
    {
        Dispatcher.Dispatch(new Kubernox.UI.Store.Actions.SshKey.DeleteSshKeyAction(id));
    }

    protected async Task DownloadPem(int id)
    {
        var download = await SshKeyService.DownloadKeyAsync(id, "PEM");
        await FileUtil.SaveAs(JSRuntime, download.Name, System.Text.Encoding.UTF8.GetBytes(download.Content));
    }

    protected async Task DownloadPpk(int id)
    {
        var download = await SshKeyService.DownloadKeyAsync(id, "PPK");
        await FileUtil.SaveAs(JSRuntime, download.Name, System.Text.Encoding.UTF8.GetBytes(download.Content));
    }
}