@page "/template"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<Button Type="primary" class="mb-4 mt-4" Style="float:right;" OnClick="@(()=>{ visible = true; })">Create new template</Button>

@if (TemplateState != null && TemplateState.Value.IsLoading)
{
    <div class="mt-4" style="width:100%; text-align:center;">
        <Spin Style="text-align:center; margin:auto" size="large" />
    </div>
}

@if (TemplateState != null && TemplateState.Value != null && TemplateState.Value.Templates != null)
{
    <Table @ref="table"
           TItem="TemplateResponse"
           DataSource="@TemplateState.Value.Templates">
        @*<Selection Key="@(context.Id.ToString())" />*@
        <Column @bind-Field="@context.Id" Sortable />
        <Column @bind-Field="@context.Name" Sortable />
        <Column @bind-Field="@context.CpuCount" Sortable />
        <Column @bind-Field="@context.MemoryCount" Sortable>
            @($"{context.MemoryCount}MB")
        </Column>
        <Column @bind-Field="@context.DiskSpace" Sortable>
            @($"{context.DiskSpace}GB")
        </Column>
        <Column @bind-Field="@context.BaseTemplate" Sortable />
    </Table>
}